<div class="row">
  <h3>{{username+"'s"}} messages</h3>
<div class='datepickr'>
  <div class='datepickr-top'>
    <span ng-click='changeDate("left")' class='datepickr-left'>&lt;</span>
    <span class='datepickr-date'>
      <span class='datepickr-month'>{{monthWord}}</span>
      <span class='datepickr-year'>{{year}}</span>
    </span>
  <span ng-click='changeDate("right")' class='datepickr-right' >&gt;</span>
</div>
<div class='datepickr-weekdays'>
  <span class='datepickr-weekday'>Su</span>
  <span class='datepickr-weekday'>Mo</span>
  <span class='datepickr-weekday'>Tu</span>
  <span class='datepickr-weekday'>We</span>
  <span class='datepickr-weekday'>Th</span>
  <span class='datepickr-weekday'>Fr</span>
  <span class='datepickr-weekday'>Sa</span>
</div>
<div class='datepickr-days' >
  <div >
    <span day-pick ng-repeat='day in days track by $index' ng-click='getMessages(day)' count='{{day.count}}' class='datepickr-day' day='{{day.day}}' month='{{month}}' year='{{year}}'>{{day.day}}
      <sup>
        <span class='label label-info'>{{day.count}}</span>
      </sup>
  </span>
</div>
</div>


</div>
